In [16]:
import os
import sys

src_path = r"D:\SEM 4\CS516\Yelp Fairness Review\scripts"
if src_path not in sys.path:
    sys.path.append(src_path)
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
df = pd.read_csv('../Yelp-JSON/yelp_dataset/new_cities_cleaned.csv')

In [28]:
# Shape of the DataFrame
print("Rows, Columns:", df.shape)

Rows, Columns: (22121, 35)

In [29]:
# Column names and types
print("\nColumns and Types:\n", df.dtypes)

Columns and Types:
 review_id          object
user_id            object
business_id        object
stars_review      float64
useful              int64
funny               int64
cool                int64
text               object
date               object
name               object
address            object
city               object
state              object
postal_code         int64
latitude          float64
longitude         float64
stars_hotel       float64
review_count        int64
is_open             int64
attributes         object
categories         object
hours              object
text_length         int64
review_year         int64
review_month        int64
is_marriott          bool
is_hilton            bool
is_hyatt             bool
is_sheraton          bool
is_westin            bool
is_doubletree        bool
is_holiday_inn       bool
is_hotel             bool
is_spa               bool
is_restaurant        bool
dtype: object

In [30]:
# Preview first few rows
print("\nSample Rows:\n", df.head())

Sample Rows:
                 review_id                 user_id             business_id  \
0  6ua_RuwuE78l3t51BhxE9Q  USywezFPwIHeg7hmSWuvQg  SEFujmfGZI08JWRyhIpYeQ
1  6fSJNrKaxns85umEKEqgHw  ju-aM3uOhrh7q2hip7bPOg  QMHd6Z2djm_SBLzGhLvFqw
2  3hdr-kc_B9cPjR9SDDOPBg  cvpvJV6owKXR1RarDGM1HA  jMqEQYBIztLtcvnTujfHUA
3  Lj5oHi3GaU68rr0hFsUIAg  OY32TwbyMP1z6MIyirm0Yw  JKR09pJneafnwpUg0FNEzw
4  1CuaSJaooB8VLAp2CG2I9A  BQLc7jSHfPXDvleNFJ6lyg  d9T1Jgf4N2vY3dcMlnCgeA

   stars_review  useful  funny  cool  \
0           1.0       0      0     0
1           4.0       0      0     0
2           5.0       3      0     1
3           1.0       0      0     0
4           3.0       0      0     0

                                                text                 date  \
0  please don't waste your time making a reservat...  2021-07-16 13:20:09
1  in town for a college football game. picked th...  2015-11-01 17:25:02
2  i stay at this hotel during my occasional visi...  2021-04-22 12:06:29
3  yet another hotel review from the road warrior...  2009-04-01 21:24:34
4  i am a big marriott fan. very nice staff, ever...  2013-05-10 11:30:27

                                                name  ... is_marriott  \
0      Embassy Suites by Hilton Philadelphia Airport  ...       False
1  Courtyard by Marriott Philadelphia South at Th...  ...        True
2             Hyatt Centric Center City Philadelphia  ...       False
3         Hilton Garden Inn Philadelphia Center City  ...       False
4                      Philadelphia Airport Marriott  ...        True

  is_hilton is_hyatt  is_sheraton  is_westin  is_doubletree  is_holiday_inn  \
0      True    False        False      False          False           False
1     False    False        False      False          False           False
2     False     True        False      False          False           False
3      True    False        False      False          False           False
4     False    False        False      False          False           False

   is_hotel  is_spa is_restaurant
0      True   False         False
1      True    True         False
2      True    True         False
3      True    True          True
4      True    True         False

[5 rows x 35 columns]

In [31]:
# Check for missing values in each column
print("\nMissing Values per Column:\n", df.isnull().sum())

Missing Values per Column:
 review_id            0
user_id              0
business_id          0
stars_review         0
useful               0
funny                0
cool                 0
text                 0
date                 0
name                 0
address              0
city                 0
state                0
postal_code          0
latitude             0
longitude            0
stars_hotel          0
review_count         0
is_open              0
attributes         452
categories           0
hours             1097
text_length          0
review_year          0
review_month         0
is_marriott          0
is_hilton            0
is_hyatt             0
is_sheraton          0
is_westin            0
is_doubletree        0
is_holiday_inn       0
is_hotel             0
is_spa               0
is_restaurant        0
dtype: int64

In [32]:
# Count unique cities and business names
print("\nUnique Cities:", df['city'].nunique())
print("Unique Businesses:", df['business_id'].nunique())

Unique Cities: 6
Unique Businesses: 247

In [33]:
# Check review length
print("\nReview Length Stats:\n", df['text_length'].describe())

Review Length Stats:
 count    22121.000000
mean       141.852584
std        122.909084
min          6.000000
25%         61.000000
50%        106.000000
75%        181.000000
max        977.000000
Name: text_length, dtype: float64

In [34]:
# Quick check: sample problematic (super short) reviews if any
print("\nSuper short reviews (less than 5 words):")
print(df[df['text_length'] < 5][['text']].head())

Super short reviews (less than 5 words):
Empty DataFrame
Columns: [text]
Index: []