In [1]:
import os
import sys

src_path = r"D:\SEM 4\CS516\Yelp Fairness Review\scripts"
if src_path not in sys.path:
    sys.path.append(src_path)
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../Yelp-JSON/yelp_dataset/prepared_hospitality_reviews.csv')

In [5]:
# Shape of the DataFrame
print("Rows, Columns:", df.shape)

Rows, Columns: (8, 29)

In [6]:
# Column names and types
print("\nColumns and Types:\n", df.dtypes)

Columns and Types:
 review_id         object
user_id           object
business_id       object
stars_review     float64
useful             int64
funny              int64
cool               int64
text              object
date              object
name              object
address           object
city              object
state             object
postal_code        int64
latitude         float64
longitude        float64
stars_biz        float64
review_count       int64
is_open            int64
attributes        object
categories        object
hours            float64
is_chain            bool
text_length        int64
review_year        int64
review_month       int64
is_hotel            bool
is_spa              bool
is_restaurant       bool
dtype: object

In [7]:
# Preview first few rows
print("\nSample Rows:\n", df.head())

Sample Rows:
                 review_id                 user_id             business_id  \
0  -uB_lEQW1P83HQM2BDdgcA  Df7B-v6xR_wgzgxjnH6IhA  Zud0Z8ajPgvL0HXVJ61B6g
1  6nZnMn3Y4KBtN5Yp_iHEdA  P350m920rIHRC9tmTEw45A  Zud0Z8ajPgvL0HXVJ61B6g
2  9mxMsLtcq5EG4fOdAR5ICQ  vU9_lZqJQIR8btUYw7fqxA  Zud0Z8ajPgvL0HXVJ61B6g
3  5FwW2mD8-Mg0xK4BLv6t6Q  7wF68Mk9NNYrSZmOV5iwZw  Zud0Z8ajPgvL0HXVJ61B6g
4  xzYp4E7QbDB-kJRR1-XUhA  WXNi47QBnu0CkMBRsnKEqg  Zud0Z8ajPgvL0HXVJ61B6g

   stars_review  useful  funny  cool  \
0           5.0       0      0     0
1           1.0       2      0     0
2           3.0       3      0     0
3           4.0       2      0     1
4           4.0       0      0     0

                                                text                 date  \
0  this is seriously the only to go place in the ...  2016-05-20 11:17:57
1  was catching an early morning flight from phl ...  2015-11-01 03:17:53
2  i came here today before catching a flight. \n...  2017-04-30 11:18:06
3  popped into good 2 go looking for a heathy, lo...  2015-07-13 22:56:32
4  good selection on snacks, drinks, goodies, and...  2014-10-12 09:42:53

        name  ...                                         attributes  \
0  Good 2 Go  ...  {'BusinessAcceptsCreditCards': 'True', 'Busine...
1  Good 2 Go  ...  {'BusinessAcceptsCreditCards': 'True', 'Busine...
2  Good 2 Go  ...  {'BusinessAcceptsCreditCards': 'True', 'Busine...
3  Good 2 Go  ...  {'BusinessAcceptsCreditCards': 'True', 'Busine...
4  Good 2 Go  ...  {'BusinessAcceptsCreditCards': 'True', 'Busine...

                                          categories hours  is_chain  \
0  Office Cleaning, Fast Food, Damage Restoration...   NaN     False
1  Office Cleaning, Fast Food, Damage Restoration...   NaN     False
2  Office Cleaning, Fast Food, Damage Restoration...   NaN     False
3  Office Cleaning, Fast Food, Damage Restoration...   NaN     False
4  Office Cleaning, Fast Food, Damage Restoration...   NaN     False

   text_length  review_year  review_month  is_hotel  is_spa is_restaurant
0           35         2016             5     False   False          True
1           53         2015            11     False   False          True
2          107         2017             4     False   False          True
3           81         2015             7     False   False          True
4           42         2014            10     False   False          True

[5 rows x 29 columns]

In [8]:
# Check for missing values in each column
print("\nMissing Values per Column:\n", df.isnull().sum())

Missing Values per Column:
 review_id        0
user_id          0
business_id      0
stars_review     0
useful           0
funny            0
cool             0
text             0
date             0
name             0
address          0
city             0
state            0
postal_code      0
latitude         0
longitude        0
stars_biz        0
review_count     0
is_open          0
attributes       0
categories       0
hours            8
is_chain         0
text_length      0
review_year      0
review_month     0
is_hotel         0
is_spa           0
is_restaurant    0
dtype: int64

In [9]:
# Count unique cities and business names
print("\nUnique Cities:", df['city'].nunique())
print("Unique Businesses:", df['business_id'].nunique())

Unique Cities: 1
Unique Businesses: 1

In [10]:
# Value counts for flags/features
print("\nChain Hotel Count:", df['is_chain'].value_counts())
print("Hotels:", df['is_hotel'].sum())
print("Spas:", df['is_spa'].sum())
print("Restaurants:", df['is_restaurant'].sum())

Chain Hotel Count: is_chain
False    8
Name: count, dtype: int64
Hotels: 0
Spas: 0
Restaurants: 8

In [12]:
# Check review length
print("\nReview Length Stats:\n", df['text_length'].describe())

Review Length Stats:
 count      8.000000
mean      68.625000
std       38.258286
min       18.000000
25%       40.250000
50%       67.000000
75%       89.000000
max      130.000000
Name: text_length, dtype: float64

In [13]:
# Quick check: sample problematic (super short) reviews if any
print("\nSuper short reviews (less than 5 words):")
print(df[df['text_length'] < 5][['text']].head())

Super short reviews (less than 5 words):
Empty DataFrame
Columns: [text]
Index: []

In [15]:
# Distribution of star ratings (if present)
if 'stars' in df.columns:
    print("\nStar Ratings Distribution:\n", df['stars'].value_counts().sort_index())